<div class="carded">
    <div class="top-bg accent"></div>

    <div class="center">
        <div class="header accent">
            <div>
                <button mat-icon-button (click)="navigateToListPage()">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div>
                    <h2>{{ matrixreservation ? matrixreservation.test : 'مشخصات رزرو' }}</h2>
                    <p>مشخصات رزرو اتاق {{ matrixreservation ? matrixreservation.id:'عدم دریافت شماره اختصاصی'}}</p>
                </div>
            </div>

        </div>

        <perfect-scrollbar class="content-card">
            <form [formGroup]="matrixreservationForm" class="vertical-fit">
                <fieldset>
                    <mat-tab-group selectedIndex="0">
                        <mat-tab label="پارامترهای مشخصات رزرو">
                            <div class="u-padding-16">
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="شماره اختصاصی" type="text" formControlName="id">
                                </mat-form-field>
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="نام اتاق" type="text" formControlName="test">
                                </mat-form-field>  
                            </div>
                        </mat-tab>
                   
                    </mat-tab-group>
                </fieldset>
            </form>
        </perfect-scrollbar>
    </div>
</div>
