
@font-face {
  font-family: WYekan;
  src: url('../../../../assets/fonts/yekan-font/yekan-regular.eot');
  src: url('../../../../assets/fonts/yekan-font/yekan-regular.eot?#iefix') format('FontName-opentype'),
       url('../../../../assets/fonts/yekan-font/yekan-regular.woff') format('woff'),
       url('../../../../assets/fonts/yekan-font/yekan-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'WMitra';
	src: url('../../../../assets/fonts/WMitra/MitraWeb-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'WShabnam';
	  src: url('../../../../assets/fonts/shabnam/Shabnam-Bold.eot');
	   src: url('../../../../assets/fonts/shabnam/Shabnam-Bold.eot?#iefix') format('FontName-opentype'),
       url('../../../../assets/fonts/shabnam/Shabnam-Bold.woff') format('woff'),
       url('../../../../assets/fonts/shabnam/Shabnam-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'WParastoo';
	  src: url('../../../../assets/fonts/parastoo/Parastoo-Bold.eot');
	   src: url('../../../../assets/fonts/parastoo/Parastoo-Bold.eot?#iefix') format('FontName-opentype'),
       url('../../../../assets/fonts/parastoo/Parastoo-Bold.woff') format('woff'),
       url('../../../../assets/fonts/parastoo/Parastoo-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'WIranNastaliq';
	  src: url('../../../../assets/fonts/nastaliq/IranNastaliq.eot');
	   src: url('../../../../assets/fonts/nastaliq/IranNastaliq.eot?#iefix') format('FontName-opentype'),
       url('../../../../assets/fonts/nastaliq/IranNastaliq.woff') format('woff'),
       url('../../../../assets/fonts/nastaliq/IranNastaliq.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'WBtitr';
	  src: url('../../../../assets/fonts/btitr/BTitrBold.eot');
	   src: url('../../../../assets/fonts/btitr/BTitrBold.eot?#iefix') format('FontName-opentype'),
       url('../../../../assets/fonts/btitr/BTitrBold.woff') format('woff'),
       url('../../../../assets/fonts/btitr/BTitrBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

