<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <button mat-button class="side-nav-toggle" (click)="onToggeleSidenav()">
      <mat-icon> menu </mat-icon>
    </button>


    <span fxFlex></span>

    <div class="user-menu">
      <button mat-button [matMenuTriggerFor]="menu">
        <img src="assets/images/avatars/profile.jpg" alt="User Image">
        <span fxHide.lt-md>مدیر سیستم</span>
        <mat-icon fxHide.lt-sm>keyboard_arrow_down</mat-icon>
      </button>

      <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="before" yPosition="above">
        <button mat-menu-item style="min-width: 194px;">
          <mat-icon> person </mat-icon>
          <span> مشخصات </span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon> announcement </mat-icon>
          <span> پیامهای دریافتی </span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onLogout()">
          <mat-icon> exit_to_app </mat-icon>
          <span> خروج </span>
        </button>
      </mat-menu>
    </div>

    <button mat-button [matMenuTriggerFor]="menuLanguage" class="settings">
      <img src="assets/images/flags/ir.png" style="margin-right: 8px;">
      <span>FA</span>
    </button>
    <mat-menu #menuLanguage="matMenu" [overlapTrigger]="false" xPosition="before" yPosition="above">
      <button mat-menu-item>
        <img src="assets/images/flags/us.png" style="margin-right: 8px;">
        <span>EN</span>
      </button>
      <button mat-menu-item>
        <img src="assets/images/flags/ir.png" style="margin-right: 8px;">
        <span>FA</span>
      </button>
    </mat-menu>

    <button mat-button class="settings" (click)="onFullscreenToggle()">
      <mat-icon>fullscreen</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>
