table {
    width: 100%;
}
.u-margin-l-8{
font-family:WYekan;
}
h2{
font-family:WIranNastaliq;
color:#213e84;
}
.mat-header-cell,.mat-cell{
padding-right:10px;
position: fix;
}
mat-header-row{
font-family:WBtitr;
background:#46bbe9;
color:black;
position:sticky;
top:0px;
}